name: Lint
on:
  push:

permissions: {}

jobs:
  test:
    name: Lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rspec_version: ['pre_rspec_3', 'rspec_3_plus']
    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Build Docker image
        working-directory: ${{ matrix.rspec_version == 'pre_rspec_3' && '.' || matrix.rspec_version }}
        run: make init

      - name: Run linter
        working-directory: ${{ matrix.rspec_version == 'pre_rspec_3' && '.' || matrix.rspec_version }}
        run: make rubocop
