name: Lint
on:
  push:

permissions: {}

jobs:
  test:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Build Docker image
        run: make init

      - name: Run linter
        run: make rubocop
